{% extends 'base.html' %}
{% block content %}

{% if category_posts %}


  <h1>{{ id }}</h1>


  <ul>
    {% for post in category_posts %}
  <l1><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>
    {{ post.category }}
     | {{ post.author }}
     {% if user.is_authenticated %}
     |-<small><a href="{% url 'update_post' post.pk %}">Редакт..)</a></small>
     {% endif %}
     <br/>{{ post.body|slice:":50"|safe }}
   </l1>
   {% endfor %}
   </ul>


 {% else %}
 <h1>Извините страница не найдена</h1>
 {% endif %}
{% endblock %}