{% extends 'base.html' %} {% block title %}Delete A Post{% endblock %}
{% block body %}
<style>
  .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  color:white
}
button {
  background-color:rgb(114, 47, 134);
  border-radius: 7px;
  padding: 2px
}
button:hover {
  opacity: 0.80;
}
h1 {
  color: white
}
button:active {
  opacity: 0.70;
}

</style>
<div class="container">
  {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <h1>Delete Post...</h1>
</br>

<h3>Delete: {{ post.title }}</h3>
</br>
<form method="POST">
    {% csrf_token %}
    <small>Are You Sure?</small>
    <button>Delete</button>
    <a href="{% url 'home' %}">Back</a>
    {% endif %}
  {% endif %}
</div>

{% endblock %}
